body {
  background: #fdfdfd; 
}

.card-img--height {
  height: 200px;
  object-fit: cover;
}

.pagination-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagination-buttons .btn {
  min-width: 120px;
  max-width: 100px;
  margin-bottom: 16px;
}

.pages-info {
  text-align: center;
}

.invalid-feedback {
  display: block;
}

.form-control_invalid {
  border-color: #dc3545;
}

.card-footer__container {
  display: flex;
  justify-content: center;
}

.card-footer__btn {
  appearance: none;
  border: none;
  background-color: transparent;

}

.card-footer__btn:focus {
  outline: none;
}

.card-footer__btn + .card-footer__btn {
  margin-left: 16px;
}